<br />
<div class="col-md-3">
	<table class="table table-hover">
	  <tr ng-repeat="chan in channels" 
	  	ng-class="{success: $index==displayed_channel}"
	  	ng-click="select_chan($index);"><td>{{chan.name}}</td><td><span ng-if="$index > 0" data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-plus"></span>
</td></tr>
	</table>
</div>
<div class="col-md-9">
	<div ng-if="channels[displayed_channel].messages.length == 0" class="warning">
		No messages in this channel... yet.
	</div>
	<table class="table table-hover table-condensed table-striped">
		<tr ng-repeat="msg in channels[displayed_channel].messages"><td>{{msg.subject}}</td></tr>
	</table>
	{{peer_list}}
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Send a message to {{channels[displayed_channel].name}}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">Subject</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="inputEmail3" placeholder="Subject">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">Message</label>
		    <div class="col-sm-10">
		      <textarea class="form-control" id="inputPassword3" placeholder="Message" rows="5"></textarea>
		    </div>
		  </div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Send</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->