<br />
<div class="col-md-3">
	<table class="table table-hover">
	  <tr ng-repeat="chan in channels" 
	  	ng-class="{success: $index==displayed_channel}"
	  	ng-click="select_chan($index);"><td>{{chan.name}}</td></tr>
	</table>
</div>
<div class="col-md-9">
	<div ng-if="channels[displayed_channel].messages.length == 0" class="warning">
		No messages in this channel... yet.
	</div>
	<table class="table table-hover table-condensed table-striped">
		<tr ng-repeat="msg in channels[displayed_channel].messages"><td>{{msg.subject}}</td></tr>
	</table>
	{{peer_list}}
</div>